.pads-container {
    padding-top: rem(50px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    @include for-tablet-layout-up {
        grid-template-columns: repeat(3, 100px);
    }
    @include for-desktop-lg-layout-up {
        grid-template-columns: repeat(3, 120px);
    }
    gap: 20px;
}
