.pad-preview-wrapper {
    width: rem(80px);
    height: rem(80px);
    @include for-tablet-layout-up {
        width: rem(100px);
        height: rem(100px);
    }
    @include for-desktop-lg-layout-up {
        width: rem(120px);
        height: rem(120px);
    }
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease, filter 0.5s ease;
    border: 3px solid $green;
    @include for-tablet-layout-up {
        &:hover {
            background: $green;
            box-shadow: 0 0 5px $green, 0 0 25px $green, 0 0 50px $green;
        }
    }
    & img {
        max-width: 75%;
        z-index: 1;
    }
    & span {
        position: absolute;
        display: block;
    }
    &.loop-is-paused {
        & span {
            animation-play-state: paused !important;
        }
    }

    &.active {
        border: 3px solid #ffffff00;
        @for $i from 1 through 9 {
            &:nth-child(#{$i}) {
                filter: hue-rotate(#{$i * 40}deg);
            }
        }

        & span {
            &:nth-of-type(1) {
                top: 0;
                left: -100%;
                width: 100%;
                height: 3px;
                background: linear-gradient(90deg, transparent, $green);
                animation: animate1 1s linear infinite;
            }

            &:nth-of-type(2) {
                top: -100%;
                right: 0;
                width: 3px;
                height: 100%;
                background: linear-gradient(180deg, transparent, $green);
                animation: animate2 1s linear infinite;
                animation-delay: 0.25s;
            }

            &:nth-of-type(3) {
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 3px;
                background: linear-gradient(270deg, transparent, $green);
                animation: animate3 1s linear infinite;
                animation-delay: 0.5s;
            }

            &:nth-of-type(4) {
                bottom: -100%;
                left: 0;
                width: 3px;
                height: 100%;
                background: linear-gradient(0deg, transparent, $green);
                animation: animate4 1s linear infinite;
                animation-delay: 0.75s;
            }
        }
    }

    & .pending-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: height 0.1s ease;
        background-color: $green;
    }
}
