// Colors
$red: #ff5252;
$lightred: #fc6e6e;
$black: #222222;
$black2: #333333;
$black3: #444444;
$verylightgrey: #f2f5fb;
$white: #ffffff;
$green: #00ffc2;

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-sm-breakpoint: 960px;
$desktop-md-breakpoint: 1280px;
$desktop-lg-breakpoint: 1600px;
